{{#each blogs as |blog|}}
<div class="card">
    <div class="card-header">
        <span>{{blog.title}}</span>
    </div>
    <div class="card-body">
        <p>{{blog.body}}</p>
        <span>{{blog.date_created}}</span>
    </div>
</div>
{{/each}}