 <form class="signup-form">   
    <div class="card">
        <div class="card-header">
            <h2>Sign Up</h2>
        </div>
        <div class="card-body">
            <label for="email-login">Email:</label>
            <input type="email" id="email-login"/>
            
            <label for="username-login">Username:</label>
            <input type="text" id="username-login"/>

            <label for="password-login">Password:</label>
            <input type="password" id="password-login"/>

            <label for="password-confirm-login">Confirm Password:</label>
            <input type="password" id="password-confirm-login"/>

            <button type="submit">Sign Up</button>
        </div>
    </div>
</form>

<script src="/js/signup.js"></script>